/* =============
   CSS VARIABLES
   ============= */

html {
  --primary-600: #1f7081;
  --parimary-700: #0c5363;

  --tonic-600: #e47502;

  --neutral-900: #2a2929;

  --font-title: "Montserrat", arial, sans-serif;
  --font-text: "Lato", helvetica, sans-serif;

  --large-container-width: 1440px;
}

/* ========
   RAW TAGS
   ======== */

body {
  max-width: var(--large-container-width);
  margin: auto;

  color: var(--neutral-900);
  font-family: var(--font-text);
}

h1,
h2 {
  font-family: var(--font-title);
}

h1 {
  color: var(--primary-600);
}

h2 {
  color: var(--tonic-600);
}

h3 {
  color: var(--primary-600);
}

h4 {
  color: var(--primary-700);
}
